# macOS
.DS_Store


# Python Virtual Environment
venv*/

# Mkdocs
target/
/build/
/site/

# JS
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# ~~~~~~~~~~~~~~~~~~~~~~~~~~
# Do not ignore this folder
!/docs/install/build/

# Python
__pycache__/
