.rst-other-versions a[href*="/fr/"] {
  display: none !important;
}

:root {
    --sd-color-grey: #88868B;
    --sd-color-green: #2ED258;
    --sd-color-yellow: #FF9F03;
    --sd-color-red: #FF463C;
}
